<style>
	.bottom-margin {
		margin-bottom: 30px;
	}
</style>
<div class='container'>
	<h1 class='text-center bottom-margin'>Personal Library</h1>
	<div class='input-group bottom-margin'>
		{{input type='text' class='form-control' placeholder='ISBN-10' value=isbn}}
		<span class='input-group-btn'>
            <button class='btn btn-primary' type='button' {{action 'postIsbn' isbn}}>Fetch My Book!</button>
        </span>
	</div>
	<div class='input-group bottom-margin'>
		<div class='input-group-addon'>
			<span class='glyphicon glyphicon-search' aria-hidden='true'></span>
		</div>
		{{input type='text' class='form-control' placeholder='Search Library' value=searchString}}
	</div>
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Subject</th>
				<th>ISBN</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{{!--{{#each filterLibrary as |book|}}--}}
			{{#each model as |book|}}
			<tr>
				<td>{{book.book}}</td>
				<td>{{book.author}}</td>
				<td>{{book.publisher}}</td>
				<td>{{book.subject}}</td>
				<td>{{book.isbn}}</td>
				<td>
					<button class='btn btn-danger' {{action 'deleteIsbn' book._id}}>Remove</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
